<!-- <div class="titulo">
    <h3>Lista de Computadores</h3>
</div> -->
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <h4>Lista de Computadores</h4>
            </div>
            <div class="col">
                <div>
                    <i class="fa fa-search" aria-hidden="true"></i>
                <input class="form-control" type="text" placeholder="Digite aqui para pesquisar...">
                </div>
            </div>
        </div>
      
    </div>
  </div>


<!-- <button type="button" class="btn btn-primary" (click)="onDelete()">Não</button> -->

<!-- <ng-template #deleteModal>
    <div class="modal-body">
        <p>Oi</p>
        <button type="button" class="btn btn-default">Sim</button>
        <button type="button" class="btn btn-primary">Não</button>
    </div>
</ng-template> -->